__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
build/
dist/
.eggs/

.venv/
venv/
.env
.env*/

.vscode/
.idea/
*.swp

output/
*.crc

*.csv
*.tsv
*.json
*.parquet
*.zip
*.gz

*.log
logs/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

winutils.exe

.tmp/
*.tmp
